<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>

{% seo %}
  </head>

  <body>
      
      <a href="https://metaosint.github.io/table/" class="btn">Full Results Table</a>
      <a href="https://metaosint.github.io/faq/" class="btn">FAQ</a>
      <a href="https://metaosint.github.io/acknowledgements/" class="btn">Acknowledgements</a>
    
      <section id="main_content">
        {{ content }}
      </section>

  </body>
</html>
